<div id="mlv-widget-root"></div>

<script>
  window.__MLV_SHOP__ = "{{ shop.permanent_domain }}";
</script>

<script src="{{ 'currency-widget.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Currency Switcher",
  "target": "body",
  "settings": []
}
{% endschema %}
